@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  scroll-behavior: smooth;
}

.click{cursor: url("https://i.imgur.com/qjLIcox.png"),auto;}
body {
    cursor: url('https://i.imgur.com/LEy8Dtc.png'), auto;
    margin: 0;
    min-width: 766px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.videos{
    margin-top: 123px;
    margin: 20px;
    cursor: url("https://i.imgur.com/qjLIcox.png"),auto;
  }
@media all and (max-width: 1100px){
    #para{
      margin: 0vh !important;
    }
  }
#navbar {
    overflow: hidden;
    background-color:black;
    opacity: 60%;
    padding: 10px 0px;
    width: 100%;
    position:fixed ;
    max-height: 110px;
  }
#navbar:hover {
    opacity: 100%;
    transition-duration: 0.5s;
}
#navbar a {
  font-family: 'Nunito', sans-serif;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 0px;
  margin: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
.mod{
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin: 30px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(253, 181, 46);
}
.mod:hover{
  padding: 13px;
  text-shadow: 1px 1px 20px rgb(107, 183, 255);
  transition-duration: 0.3s;
}
.right{
  float: right;
}
#navbar a:hover {
  text-shadow: 1px 1px 20px rgb(107, 183, 255);
  border-top: 3px solid rgb(107, 255, 181);
} 

#navbar a.active {
  text-shadow: 0 0 30px rgb(107, 255, 255);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 120px;
}
.logo {
  height: 100px;
  float: left;
  padding-left: 30px;
  padding-right: 40px;
}
.banner {
  width: 100%;
  height: auto;
}

.second{
  background-image: url("imgs/second.jpg");
  background-attachment: fixed;
  margin:10px 20px;
}
.text-center h2{
  font-size: 50px;
  padding-top: 40px;
  font-family: "Nunito", sans-serif;
  color: aliceblue;
}
.text-center h3{
  margin-top: -40px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: aliceblue;
}
#para{
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: aliceblue;
  margin:0vh 30vh;
}
.vid{
  background-image: url("imgs/third.jpg");
  background-size: cover;
}
.footer{
  width: 100%;
  height: 250px;
  cursor: url('https://i.imgur.com/LEy8Dtc.png'),auto;
  background-image: linear-gradient(darkblue,black,black);
}
.footer h3{
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 25px;
}
.footer a button{
  border:none;
  padding: 15px;
  font-size: 25px;
  background-color: red;
  text-decoration: none ;
  border-radius: 5px  ;
  color: white;
}
.footer a button:hover{
   opacity: 85%;
   transition-duration: 0.3s;
}
